.contenedor-adivina-lafruta {
  margin: 30px auto;
  border-radius: 15px;
  text-align: center;
  max-width: 100%;
  padding: 0 10px;
}

.pregunta-fruta {
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 50px 0 20px;
}

.contenedor-info-juego {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 30px;
  color: white;
  flex-wrap: wrap;
}

.opciones-frutas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.fruta-contenedor {
  width: 230px;
  height: 208px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70568F;
  transition: transform 0.3s;
  margin-top: 60px;
}

.fruta-contenedor:hover {
  transform: scale(1.05);
  border-color: #584796;
}

.img-fruta {
  width: 150px;
  height: 150px;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.2s, border 0.2s;
  border: 3px solid transparent;
}

.img-fruta:hover {
  transform: scale(1.05);
  border-color: #ffa726;
}

/* 📱 Adaptación especial para iPhone 13 y móviles pequeños */
@media (max-width: 430px) {
  .pregunta-fruta {
    font-size: 1.4rem;
    margin-top: 30px;
  }

  .contenedor-info-juego {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 10px;
  }

  .fruta-contenedor {
    width: 150px;
    height: 140px;
    margin-top: 40px;
  }

  .img-fruta {
    width: 100px;
    height: 100px;
  }
}
