.contenedor-info {
    width: 330px;
    height: 403px;
    background-color: #C093F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 22px;
    padding: 20px 10px;
  }
  
  .contenedor-memoria {
    display: flex;
    flex-direction: column;
  }
  
  .contenido-juego {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
  }
  
  .aciertos,
  .tiempo-partida,
  .movimientos {
    text-align: center;
  }
  
  .juego-memoria {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 500px;
  }
  
  .tablero {
    display: grid;
    gap: 15px;
    justify-content: center;
    max-width: 500px;
  }
  
  .tablero.nivel-3 {
    grid-template-columns: repeat(3, 1fr); 
  }
  
  .tablero.nivel-4 {
    margin-left: 380px;
    grid-template-columns: repeat(4, 1fr); 
  }
  
  .tablero.nivel-6 {
    grid-template-columns: repeat(4, 1fr); 
  }
  
  .carta {
    position: relative;
    width: 181px;
    height: 180px;
    perspective: 1000px;
    cursor: pointer;
    transform-style: preserve-3d;
  }
  
  .carta .img-frente,
  .carta .img-reverso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    transition: transform 0.4s ease;
  }
  
  .carta .img-frente {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carta .img-frente img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .carta .img-reverso {
    background: linear-gradient(135deg, #584796, #C093F5);
    transform: rotateY(0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .carta.descubierta .img-frente {
    transform: rotateY(0deg);
    z-index: 2;

  }
  
  .carta.descubierta .img-reverso {
    transform: rotateY(180deg);
    z-index: 1;
  }
  